asset/logo.png
data/b2c_customers_100.csv
data/b2c_products_500.csv
data/b2c_products_500_transactions_50k.csv
IS2108 - AY2526S1 - Pair Project.pdf
model/association_rules_mining.ipynb
model/b2c_customers_100.joblib
model/b2c_products_500_transactions_50k.joblib
model/decision_tree_classifier.ipynb
proj info/data/b2c_products_500.csv
proj info/asset/AuroraMart Logo.png
proj info/data/b2c_products_500_transactions_50k.csv
proj info/data/b2c_customers_100.csv
ml_models/b2c_products_500_transactions_50k.joblib
ml_models/b2c_customers_100.joblib
ml_models/association_rules_mining.ipynb
ml_models/decision_tree_classifier.ipynb

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# SQLite dev DB
db.sqlite3

